@model TravelTrip.Models.Sınıflar.Comments
@{
    ViewBag.Title = "GetComment";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Update Comment</h2>

<br />
@using (Html.BeginForm("UpdateComment", "Admin", FormMethod.Post))
{

    @Html.LabelFor(x => x.ID)
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control", @readonly = "readonly" })

    @Html.LabelFor(x => x.UserName)
    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Mail)
    @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Comment)
    @Html.TextAreaFor(x => x.Comment, 10, 1, new { @class = "form-control" })

  
    <br />

    <button class=" btn btn-primary"> Add Blog</button>
}
